@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@700&display=swap");

ul,
ol {
  margin: 0;
  list-style: none;
}

html {
  box-sizing: border-box;
  font-family: "Noto Sans", sans-serif;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

.about-body {
  display: flex;
  align-items: center;
  margin-left: 0;
  padding-left: 0;
  width: 100%;
  min-width: 400px;
  height: 100%;
}

.home-body {
  display: flex;
  align-items: center;
  margin-left: 0;
  padding-left: 0;
  width: 100%;
  min-width: 400px;
  height: 100%;
}

/* !!!!!!!!!!! BACKGROUND ANIMATION !!!!!!!!!!! */

body {
  background: linear-gradient(
    270deg,
    #495196,
    #3a3e61,
    #2d389b,
    #5f6ac7,
    #4454e0
  );
  background-size: 800% 100%;

  -webkit-animation: AnimationName 30s ease infinite;
  -moz-animation: AnimationName 30s ease infinite;
  animation: AnimationName 30s ease infinite;
}

@-webkit-keyframes AnimationName {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@-moz-keyframes AnimationName {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@keyframes AnimationName {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

/* !!!!!!!!!!! HOMEPAGE !!!!!!!!!!! */

.home {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
  padding: 0 10% 0 10%;
}

.intro {
  align-self: self-start;
  font-family: "Noto Sans", sans-serif;
  color: #fff;
  font-size: 64pt;
  text-align: left;
  margin: 0 0 30px 0;
}

.intro a {
  color: #5affe9;
}

.greeting {
  text-align: left;
}

.github {
  text-align: center;
  width: 100%;
}

.githubLogo {
  width: 100px;
  margin: 30px 10px 0 0;
  height: auto;
}

#dribbble {
  margin: 30px 0 0 10px;
}

.languages img {
  width: auto;
  height: 50px;
}

/* !!!!!!!!!!! ABOUT !!!!!!!!!!! */

.about-head {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-bottom: 20px;
  font-size: 30pt;
  color: #fff;
}

.about-head img {
  height: 30pt;
  margin-right: 16pt;
}

.about-head h3 {
  margin: 0 0 0 0;
}

.about-page {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
  padding: 0 10% 0 10%;
  font-family: "Noto Sans", sans-serif;
  font-size: 22pt;
  color: #fff;
}

.about {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.about-text-box p {
  margin-bottom: 20px;
}

.about a {
  color: #5affe9;
}

.break {
  height: 30px;
}

.about-lang {
  width: 100%;
  flex-wrap: wrap;
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  align-self: flex-start;
  align-items: center;
}

.about-lang img {
  margin: 30px;
  height: 50px;
}

/* !!!!!!!!!!! PORTFOLIO !!!!!!!!!!! */

.portfolio {
  overflow: hidden;
  height: 100%;
}

#portfolio-head {
  display: flex;
  font-size: 20pt;
  align-self: center;
}

.portfolio-body {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
}

.portfolio-item {
  display: flex;
  flex-direction: column;
  height: 250px;
  width: 400px;
  background-color: #0074d9;
  color: #fff;
  border-radius: 20px;
  float: center;
  margin: 10px;
  align-items: center;
  justify-content: center;
}

.portfolio-item img {
  height: 100px;
}

.portfolio-item p {
  display: flex;
  align-items: center;
  margin: 0;
}

.portfolio-item h2 {
  margin: 0;
  font-size: 24pt;
}

.proj-on-hover img {
  height: 50px;
}

.proj-on-hover-bg {
  width: 400px;
  height: 250px;
  overflow: hidden;
  border-radius: 20px;
  display: flex;
  align-content: center;
  justify-content: center;
  position: absolute;
  background-color: #000;
  opacity: 0%;
  transition: all 0.4s ease;
  -webkit-transition: all 0.4s ease;
  z-index: 9;
  flex-direction: column;
}

.proj-on-hover {
  width: 400px;
  height: 250px;
  overflow: hidden;
  border-radius: 20px;
  display: flex;
  align-content: center;
  justify-content: center;
  position: absolute;
  opacity: 0%;
  transition: all 0.4s ease;
  -webkit-transition: all 0.4s ease;
  z-index: 10;
}

.proj-on-hover p {
  z-index: 11;
}

.proj-imgs {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 10px;
}

.proj-description {
  text-align: center;
  padding: 10px;
}

.proj-on-hover-bg:hover {
  opacity: 90%;
}

.proj-on-hover:hover {
  opacity: 100%;
}

.proj-divider {
  margin: 0 16px;
}

#proj0 {
  background: #003972;
  background: -moz-linear-gradient(top, #003972 0%, #001322 100%);
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(0%, #003972),
    color-stop(100%, #001322)
  );
  background: -webkit-linear-gradient(top, #003972 0%, #001322 100%);
  background: -o-linear-gradient(top, #003972 0%, #001322 100%);
  background: -ms-linear-gradient(top, #003972 0%, #001322 100%);
  background: linear-gradient(to bottom, #003972 0%, #001322 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#003972', endColorstr='#001322',GradientType=0 );
}

#proj1 {
  background: #fcd129;
  background: -moz-linear-gradient(top, #fcd129 0%, #b8860b 100%);
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(0%, #fcd129),
    color-stop(100%, #b8860b)
  );
  background: -webkit-linear-gradient(top, #fcd129 0%, #b8860b 100%);
  background: -o-linear-gradient(top, #fcd129 0%, #b8860b 100%);
  background: -ms-linear-gradient(top, #fcd129 0%, #b8860b 100%);
  background: linear-gradient(to bottom, #fcd129 0%, #b8860b 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcd129', endColorstr='#b8860b',GradientType=0 );
}

#proj2 {
  background: #4a75b5;
  background: -moz-linear-gradient(top, #4a75b5 0%, #304b74 100%);
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(0%, #4a75b5),
    color-stop(100%, #304b74)
  );
  background: -webkit-linear-gradient(top, #4a75b5 0%, #304b74 100%);
  background: -o-linear-gradient(top, #4a75b5 0%, #304b74 100%);
  background: -ms-linear-gradient(top, #4a75b5 0%, #304b74 100%);
  background: linear-gradient(to bottom, #4a75b5 0%, #304b74 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4a75b5', endColorstr='#304b74',GradientType=0 );
}

#proj3 {
  background: #ca0702;
  background: -moz-linear-gradient(top, #ca0702 0%, #7e0502 100%);
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(0%, #ca0702),
    color-stop(100%, #7e0502)
  );
  background: -webkit-linear-gradient(top, #ca0702 0%, #7e0502 100%);
  background: -o-linear-gradient(top, #ca0702 0%, #7e0502 100%);
  background: -ms-linear-gradient(top, #ca0702 0%, #7e0502 100%);
  background: linear-gradient(to bottom, #ca0702 0%, #7e0502 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ca0702', endColorstr='#7e0502',GradientType=0 );
}

#tlico {
  border-radius: 10px;
}

#proj4 {
  background: #434343;
  background: -moz-linear-gradient(top, #434343 0%, #000 100%);
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(0%, #434343),
    color-stop(100%, #000)
  );
  background: -webkit-linear-gradient(top, #434343 0%, #000 100%);
  background: -o-linear-gradient(top, #434343 0%, #000 100%);
  background: -ms-linear-gradient(top, #434343 0%, #000 100%);
  background: linear-gradient(to bottom, #434343 0%, #000 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#434343', endColorstr='#000',GradientType=0 );
}

#proj5 {
  background-color: darkslategray;
}

#proj6 {
  background-color: darksalmon;
}

#unfinished {
  opacity: 40%;
}

/* !!!!!!!!!!! MEDIA QUERIES !!!!!!!!!!! */

@media only screen and (max-width: 1000px) {
  .intro {
    font-size: 50pt;
  }
}

@media only screen and (max-height: 900px) {
  .intro {
    font-size: 50pt;
  }
}

@media only screen and (max-width: 800px) {
  .intro {
    font-size: 34pt;
  }

  .githubLogo {
    width: 60px;
  }

  .about-img {
    display: none;
    border-radius: 0;
    width: 0;
    height: 0;
    margin-left: 0;
  }

  .about {
    margin-top: 10%;
    font-size: 20pt;
    padding: 0 10px;
  }

  .about-head {
    font-size: 20pt;
  }

  .about-body {
    height: auto;
  }
}

@media only screen and (max-height: 800px) {
  .intro {
    font-size: 34pt;
  }

  .githubLogo {
    width: 60px;
  }

  .about-img {
    display: none;
    border-radius: 0;
    width: 0;
    height: 0;
    margin-left: 0;
  }

  .about {
    margin-top: 10%;
    font-size: 20pt;
  }
}
